body {
  font-family: $df-font-family;
  @include font-size($df-font-size);
  @include line-height($df-line-height);
  color: $primary-color;
  font-weight: $df-font-weight;
  background: $df-background-color;
}

// anchor tag  style
a{
 :link { color: $link-color;}
 :visited { color: $secondary-color; }
 :hover,:active{ color: $link-color-dark; }
}
// headers
h1,h2,h3,h4,h5,h6 {
    font-weight: $df-font-weight;
    color: $primary-color;
	@include margins(margin-top, 50);
    @include margins(margin-bottom, 50);
}
h1{@include font-size(32);@include line-height(32);}
h2{@include font-size(24);@include line-height(24);}
h3{@include font-size(20);@include line-height(20);}
h4{@include font-size(18);@include line-height(18);}
h4{@include font-size(16);@include line-height(16);}
h4{@include font-size(14);@include line-height(14);}

//clearfix property
.clearfix{@include clearfix;}
/* text floats */
@include text-align(xs);
@media only screen and (min-width: $sm-breakpoint){
    @include text-align(sm);
}
@media only screen and (min-width: $md-breakpoint){
    @include text-align(md);
}
@media only screen and (min-width: $lg-breakpoint){
    @include text-align(lg);
}
@media only screen and (min-width: $xlg-breakpoint){
   @include text-align(xlg);
}
@media only screen and (min-width: $xxlg-breakpoint){
   @include text-align(xxlg);
}
