.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  letter-spacing:normal;
  white-space: nowrap;
  font-weight: $df-font-weight;
  @include font-size(16);
   @include line-height(20);
  @include paddings(10);
  &:hover,
  &:focus {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $color-white;
    outline: 0;
  }
  &.button-disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: default;
    &:hover,
    &:focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  &.button-outline {
    color: $primary-color;
    background-color: transparent;
    &:hover,
    &:focus {
      color: $secondary-color;
      background-color: transparent;
      border-color: $secondary-color;
    }
    &.button-disabled,
    &[disabled] {
      &:hover,
      &:focus {
        color: $primary-color;
        border-color: inherit;
      }
    }
  }
  &.button-blank {
    color: $primary-color;
    background-color: transparent;
    border-color: transparent;
    &:hover,
    &:focus {
      color: $secondary-color;
      background-color: transparent;
      border-color: transparent;
    }
    &.button-disabled,
    &[disabled] {
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }
}
