// A Mobile First Responsive Grid
//=========container and row styling similar to bootstrap==========

.container{
  padding: 0 ($col-spacing / 2);
  margin: 0 auto;
  max-width: $max-width;
}

.row{
  margin-left:  ($col-spacing / -2);
  margin-right: ($col-spacing / -2);
  @include clearfix;
}
@include make-grid-columns(xs);
@media only screen and (min-width: $sm-breakpoint){
    @include make-grid-columns(sm);
}
@media only screen and (min-width: $md-breakpoint){
    @include make-grid-columns(md);
}
@media only screen and (min-width: $lg-breakpoint){
    @include make-grid-columns(lg);
}
@media only screen and (min-width: $xlg-breakpoint){
    @include make-grid-columns(xlg);
}
@media only screen and (min-width: $xxlg-breakpoint){
    @include make-grid-columns(xxlg);
}

