/*============================================
A responsive framework for monsterindia.com
=============================================*/
/*Version: 1.0.0*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

img {
  border: 0; }

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.28571rem;
  color: #585858;
  font-weight: 400;
  background: #fff; }

a :link {
  color: #26b18a; }
a :visited {
  color: #454545; }
a :hover, a :active {
  color: #02946b; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #585858; }

h1 {
  font-size: 32px;
  font-size: 2.28571rem;
  line-height: 32px;
  line-height: 2.28571rem; }

h2 {
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 24px;
  line-height: 1.71429rem; }

h3 {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 20px;
  line-height: 1.42857rem; }

h4 {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 18px;
  line-height: 1.28571rem; }

h4 {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 16px;
  line-height: 1.14286rem; }

h4 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1rem; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.text_left_xs {
  text-align: left !important; }

.text-right_xs {
  text-align: right !important; }

.text-center_xs {
  text-align: center !important; }

@media only screen and (min-width: 640px) {
  .text_left_sm {
    text-align: left !important; }

  .text-right_sm {
    text-align: right !important; }

  .text-center_sm {
    text-align: center !important; } }
@media only screen and (min-width: 768px) {
  .text_left_md {
    text-align: left !important; }

  .text-right_md {
    text-align: right !important; }

  .text-center_md {
    text-align: center !important; } }
@media only screen and (min-width: 1024px) {
  .text_left_lg {
    text-align: left !important; }

  .text-right_lg {
    text-align: right !important; }

  .text-center_lg {
    text-align: center !important; } }
@media only screen and (min-width: 1440px) {
  .text_left_xlg {
    text-align: left !important; }

  .text-right_xlg {
    text-align: right !important; }

  .text-center_xlg {
    text-align: center !important; } }
@media only screen and (min-width: 1920px) {
  .text_left_xxlg {
    text-align: left !important; }

  .text-right_xxlg {
    text-align: right !important; }

  .text-center_xxlg {
    text-align: center !important; } }
dl, ol, ul {
  margin-top: 0;
  padding-left: 0; }
  dl dl, dl ul, dl ol, ol dl, ol ul, ol ol, ul dl, ul ul, ul ol {
    margin-right: 0; }

dl {
  list-style: none; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1366px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.offset_xs100 {
  margin-left: 100%; }

.push_xs100 {
  left: 100%; }

.pull_xs100 {
  right: 100%; }

.col_xs100 {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: none; }

.offset_xs50 {
  margin-left: 50%; }

.push_xs50 {
  left: 50%; }

.pull_xs50 {
  right: 50%; }

.col_xs50 {
  position: relative;
  min-height: 1px;
  width: 50%;
  float: none; }

.offset_xs33 {
  margin-left: 33.33333%; }

.push_xs33 {
  left: 33.33333%; }

.pull_xs33 {
  right: 33.33333%; }

.col_xs33 {
  position: relative;
  min-height: 1px;
  width: 33.33333%;
  float: none; }

.offset_xs67 {
  margin-left: 66.66667%; }

.push_xs67 {
  left: 66.66667%; }

.pull_xs67 {
  right: 66.66667%; }

.col_xs67 {
  position: relative;
  min-height: 1px;
  width: 66.66667%;
  float: left; }

.offset_xs25 {
  margin-left: 25%; }

.push_xs25 {
  left: 25%; }

.pull_xs25 {
  right: 25%; }

.col_xs25 {
  position: relative;
  min-height: 1px;
  width: 25%;
  float: none; }

.offset_xs75 {
  margin-left: 75%; }

.push_xs75 {
  left: 75%; }

.pull_xs75 {
  right: 75%; }

.col_xs75 {
  position: relative;
  min-height: 1px;
  width: 75%;
  float: left; }

.offset_xs20 {
  margin-left: 20%; }

.push_xs20 {
  left: 20%; }

.pull_xs20 {
  right: 20%; }

.col_xs20 {
  position: relative;
  min-height: 1px;
  width: 20%;
  float: none; }

.offset_xs80 {
  margin-left: 80%; }

.push_xs80 {
  left: 80%; }

.pull_xs80 {
  right: 80%; }

.col_xs80 {
  position: relative;
  min-height: 1px;
  width: 80%;
  float: left; }

@media only screen and (min-width: 640px) {
  .offset_sm100 {
    margin-left: 100%; }

  .push_sm100 {
    left: 100%; }

  .pull_sm100 {
    right: 100%; }

  .col_sm100 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left; }

  .offset_sm50 {
    margin-left: 50%; }

  .push_sm50 {
    left: 50%; }

  .pull_sm50 {
    right: 50%; }

  .col_sm50 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left; }

  .offset_sm33 {
    margin-left: 33.33333%; }

  .push_sm33 {
    left: 33.33333%; }

  .pull_sm33 {
    right: 33.33333%; }

  .col_sm33 {
    position: relative;
    min-height: 1px;
    width: 33.33333%;
    float: left; }

  .offset_sm67 {
    margin-left: 66.66667%; }

  .push_sm67 {
    left: 66.66667%; }

  .pull_sm67 {
    right: 66.66667%; }

  .col_sm67 {
    position: relative;
    min-height: 1px;
    width: 66.66667%;
    float: left; }

  .offset_sm25 {
    margin-left: 25%; }

  .push_sm25 {
    left: 25%; }

  .pull_sm25 {
    right: 25%; }

  .col_sm25 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left; }

  .offset_sm75 {
    margin-left: 75%; }

  .push_sm75 {
    left: 75%; }

  .pull_sm75 {
    right: 75%; }

  .col_sm75 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left; }

  .offset_sm20 {
    margin-left: 20%; }

  .push_sm20 {
    left: 20%; }

  .pull_sm20 {
    right: 20%; }

  .col_sm20 {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left; }

  .offset_sm80 {
    margin-left: 80%; }

  .push_sm80 {
    left: 80%; }

  .pull_sm80 {
    right: 80%; }

  .col_sm80 {
    position: relative;
    min-height: 1px;
    width: 80%;
    float: left; } }
@media only screen and (min-width: 768px) {
  .offset_md100 {
    margin-left: 100%; }

  .push_md100 {
    left: 100%; }

  .pull_md100 {
    right: 100%; }

  .col_md100 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left; }

  .offset_md50 {
    margin-left: 50%; }

  .push_md50 {
    left: 50%; }

  .pull_md50 {
    right: 50%; }

  .col_md50 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left; }

  .offset_md33 {
    margin-left: 33.33333%; }

  .push_md33 {
    left: 33.33333%; }

  .pull_md33 {
    right: 33.33333%; }

  .col_md33 {
    position: relative;
    min-height: 1px;
    width: 33.33333%;
    float: left; }

  .offset_md67 {
    margin-left: 66.66667%; }

  .push_md67 {
    left: 66.66667%; }

  .pull_md67 {
    right: 66.66667%; }

  .col_md67 {
    position: relative;
    min-height: 1px;
    width: 66.66667%;
    float: left; }

  .offset_md25 {
    margin-left: 25%; }

  .push_md25 {
    left: 25%; }

  .pull_md25 {
    right: 25%; }

  .col_md25 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left; }

  .offset_md75 {
    margin-left: 75%; }

  .push_md75 {
    left: 75%; }

  .pull_md75 {
    right: 75%; }

  .col_md75 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left; }

  .offset_md20 {
    margin-left: 20%; }

  .push_md20 {
    left: 20%; }

  .pull_md20 {
    right: 20%; }

  .col_md20 {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left; }

  .offset_md80 {
    margin-left: 80%; }

  .push_md80 {
    left: 80%; }

  .pull_md80 {
    right: 80%; }

  .col_md80 {
    position: relative;
    min-height: 1px;
    width: 80%;
    float: left; } }
@media only screen and (min-width: 1024px) {
  .offset_lg100 {
    margin-left: 100%; }

  .push_lg100 {
    left: 100%; }

  .pull_lg100 {
    right: 100%; }

  .col_lg100 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left; }

  .offset_lg50 {
    margin-left: 50%; }

  .push_lg50 {
    left: 50%; }

  .pull_lg50 {
    right: 50%; }

  .col_lg50 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left; }

  .offset_lg33 {
    margin-left: 33.33333%; }

  .push_lg33 {
    left: 33.33333%; }

  .pull_lg33 {
    right: 33.33333%; }

  .col_lg33 {
    position: relative;
    min-height: 1px;
    width: 33.33333%;
    float: left; }

  .offset_lg67 {
    margin-left: 66.66667%; }

  .push_lg67 {
    left: 66.66667%; }

  .pull_lg67 {
    right: 66.66667%; }

  .col_lg67 {
    position: relative;
    min-height: 1px;
    width: 66.66667%;
    float: left; }

  .offset_lg25 {
    margin-left: 25%; }

  .push_lg25 {
    left: 25%; }

  .pull_lg25 {
    right: 25%; }

  .col_lg25 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left; }

  .offset_lg75 {
    margin-left: 75%; }

  .push_lg75 {
    left: 75%; }

  .pull_lg75 {
    right: 75%; }

  .col_lg75 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left; }

  .offset_lg20 {
    margin-left: 20%; }

  .push_lg20 {
    left: 20%; }

  .pull_lg20 {
    right: 20%; }

  .col_lg20 {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left; }

  .offset_lg80 {
    margin-left: 80%; }

  .push_lg80 {
    left: 80%; }

  .pull_lg80 {
    right: 80%; }

  .col_lg80 {
    position: relative;
    min-height: 1px;
    width: 80%;
    float: left; } }
@media only screen and (min-width: 1440px) {
  .offset_xlg100 {
    margin-left: 100%; }

  .push_xlg100 {
    left: 100%; }

  .pull_xlg100 {
    right: 100%; }

  .col_xlg100 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left; }

  .offset_xlg50 {
    margin-left: 50%; }

  .push_xlg50 {
    left: 50%; }

  .pull_xlg50 {
    right: 50%; }

  .col_xlg50 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left; }

  .offset_xlg33 {
    margin-left: 33.33333%; }

  .push_xlg33 {
    left: 33.33333%; }

  .pull_xlg33 {
    right: 33.33333%; }

  .col_xlg33 {
    position: relative;
    min-height: 1px;
    width: 33.33333%;
    float: left; }

  .offset_xlg67 {
    margin-left: 66.66667%; }

  .push_xlg67 {
    left: 66.66667%; }

  .pull_xlg67 {
    right: 66.66667%; }

  .col_xlg67 {
    position: relative;
    min-height: 1px;
    width: 66.66667%;
    float: left; }

  .offset_xlg25 {
    margin-left: 25%; }

  .push_xlg25 {
    left: 25%; }

  .pull_xlg25 {
    right: 25%; }

  .col_xlg25 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left; }

  .offset_xlg75 {
    margin-left: 75%; }

  .push_xlg75 {
    left: 75%; }

  .pull_xlg75 {
    right: 75%; }

  .col_xlg75 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left; }

  .offset_xlg20 {
    margin-left: 20%; }

  .push_xlg20 {
    left: 20%; }

  .pull_xlg20 {
    right: 20%; }

  .col_xlg20 {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left; }

  .offset_xlg80 {
    margin-left: 80%; }

  .push_xlg80 {
    left: 80%; }

  .pull_xlg80 {
    right: 80%; }

  .col_xlg80 {
    position: relative;
    min-height: 1px;
    width: 80%;
    float: left; } }
@media only screen and (min-width: 1920px) {
  .offset_xxlg100 {
    margin-left: 100%; }

  .push_xxlg100 {
    left: 100%; }

  .pull_xxlg100 {
    right: 100%; }

  .col_xxlg100 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left; }

  .offset_xxlg50 {
    margin-left: 50%; }

  .push_xxlg50 {
    left: 50%; }

  .pull_xxlg50 {
    right: 50%; }

  .col_xxlg50 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left; }

  .offset_xxlg33 {
    margin-left: 33.33333%; }

  .push_xxlg33 {
    left: 33.33333%; }

  .pull_xxlg33 {
    right: 33.33333%; }

  .col_xxlg33 {
    position: relative;
    min-height: 1px;
    width: 33.33333%;
    float: left; }

  .offset_xxlg67 {
    margin-left: 66.66667%; }

  .push_xxlg67 {
    left: 66.66667%; }

  .pull_xxlg67 {
    right: 66.66667%; }

  .col_xxlg67 {
    position: relative;
    min-height: 1px;
    width: 66.66667%;
    float: left; }

  .offset_xxlg25 {
    margin-left: 25%; }

  .push_xxlg25 {
    left: 25%; }

  .pull_xxlg25 {
    right: 25%; }

  .col_xxlg25 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left; }

  .offset_xxlg75 {
    margin-left: 75%; }

  .push_xxlg75 {
    left: 75%; }

  .pull_xxlg75 {
    right: 75%; }

  .col_xxlg75 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left; }

  .offset_xxlg20 {
    margin-left: 20%; }

  .push_xxlg20 {
    left: 20%; }

  .pull_xxlg20 {
    right: 20%; }

  .col_xxlg20 {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left; }

  .offset_xxlg80 {
    margin-left: 80%; }

  .push_xxlg80 {
    left: 80%; }

  .pull_xxlg80 {
    right: 80%; }

  .col_xxlg80 {
    position: relative;
    min-height: 1px;
    width: 80%;
    float: left; } }
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #585858;
  border: 1px solid #585858;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 20px;
  line-height: 1.42857rem;
  padding: 10px;
  padding: 0.71429rem; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  input[type='button']:hover,
  input[type='button']:focus,
  input[type='reset']:hover,
  input[type='reset']:focus,
  input[type='submit']:hover,
  input[type='submit']:focus {
    background-color: #454545;
    border-color: #454545;
    color: #ffffff;
    outline: 0; }
  .button.button-disabled, .button[disabled],
  button.button-disabled,
  button[disabled],
  input[type='button'].button-disabled,
  input[type='button'][disabled],
  input[type='reset'].button-disabled,
  input[type='reset'][disabled],
  input[type='submit'].button-disabled,
  input[type='submit'][disabled] {
    opacity: 0.5;
    cursor: default; }
    .button.button-disabled:hover, .button.button-disabled:focus, .button[disabled]:hover, .button[disabled]:focus,
    button.button-disabled:hover,
    button.button-disabled:focus,
    button[disabled]:hover,
    button[disabled]:focus,
    input[type='button'].button-disabled:hover,
    input[type='button'].button-disabled:focus,
    input[type='button'][disabled]:hover,
    input[type='button'][disabled]:focus,
    input[type='reset'].button-disabled:hover,
    input[type='reset'].button-disabled:focus,
    input[type='reset'][disabled]:hover,
    input[type='reset'][disabled]:focus,
    input[type='submit'].button-disabled:hover,
    input[type='submit'].button-disabled:focus,
    input[type='submit'][disabled]:hover,
    input[type='submit'][disabled]:focus {
      background-color: #585858;
      border-color: #585858; }
  .button.button-outline,
  button.button-outline,
  input[type='button'].button-outline,
  input[type='reset'].button-outline,
  input[type='submit'].button-outline {
    color: #585858;
    background-color: transparent; }
    .button.button-outline:hover, .button.button-outline:focus,
    button.button-outline:hover,
    button.button-outline:focus,
    input[type='button'].button-outline:hover,
    input[type='button'].button-outline:focus,
    input[type='reset'].button-outline:hover,
    input[type='reset'].button-outline:focus,
    input[type='submit'].button-outline:hover,
    input[type='submit'].button-outline:focus {
      color: #454545;
      background-color: transparent;
      border-color: #454545; }
    .button.button-outline.button-disabled:hover, .button.button-outline.button-disabled:focus, .button.button-outline[disabled]:hover, .button.button-outline[disabled]:focus,
    button.button-outline.button-disabled:hover,
    button.button-outline.button-disabled:focus,
    button.button-outline[disabled]:hover,
    button.button-outline[disabled]:focus,
    input[type='button'].button-outline.button-disabled:hover,
    input[type='button'].button-outline.button-disabled:focus,
    input[type='button'].button-outline[disabled]:hover,
    input[type='button'].button-outline[disabled]:focus,
    input[type='reset'].button-outline.button-disabled:hover,
    input[type='reset'].button-outline.button-disabled:focus,
    input[type='reset'].button-outline[disabled]:hover,
    input[type='reset'].button-outline[disabled]:focus,
    input[type='submit'].button-outline.button-disabled:hover,
    input[type='submit'].button-outline.button-disabled:focus,
    input[type='submit'].button-outline[disabled]:hover,
    input[type='submit'].button-outline[disabled]:focus {
      color: #585858;
      border-color: inherit; }
  .button.button-blank,
  button.button-blank,
  input[type='button'].button-blank,
  input[type='reset'].button-blank,
  input[type='submit'].button-blank {
    color: #585858;
    background-color: transparent;
    border-color: transparent; }
    .button.button-blank:hover, .button.button-blank:focus,
    button.button-blank:hover,
    button.button-blank:focus,
    input[type='button'].button-blank:hover,
    input[type='button'].button-blank:focus,
    input[type='reset'].button-blank:hover,
    input[type='reset'].button-blank:focus,
    input[type='submit'].button-blank:hover,
    input[type='submit'].button-blank:focus {
      color: #454545;
      background-color: transparent;
      border-color: transparent; }
    .button.button-blank.button-disabled:hover, .button.button-blank.button-disabled:focus, .button.button-blank[disabled]:hover, .button.button-blank[disabled]:focus,
    button.button-blank.button-disabled:hover,
    button.button-blank.button-disabled:focus,
    button.button-blank[disabled]:hover,
    button.button-blank[disabled]:focus,
    input[type='button'].button-blank.button-disabled:hover,
    input[type='button'].button-blank.button-disabled:focus,
    input[type='button'].button-blank[disabled]:hover,
    input[type='button'].button-blank[disabled]:focus,
    input[type='reset'].button-blank.button-disabled:hover,
    input[type='reset'].button-blank.button-disabled:focus,
    input[type='reset'].button-blank[disabled]:hover,
    input[type='reset'].button-blank[disabled]:focus,
    input[type='submit'].button-blank.button-disabled:hover,
    input[type='submit'].button-blank.button-disabled:focus,
    input[type='submit'].button-blank[disabled]:hover,
    input[type='submit'].button-blank[disabled]:focus {
      color: #585858; }

/*for demo only*/
.demo-grid .col {
  background: #eee;
  border: 1px #bfbfbf solid;
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
